<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="input_errors" fileName="logs/input_errors.log" append="false">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>%d{yyyyMMdd HH:mm:ss} %-5p [%t] %C{2} %F%L - %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="search" fileName="logs/search.log" append="false">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>%d{yyyyMMdd HH:mm:ss} %-5p [%t] %C{2} %F%L - %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="exceptions" fileName="logs/exceptions.log" append="false">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>%d{yyyyMMdd HH:mm:ss} %-5p [%t] %C{2} %F%L - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="search" level="debug"/>
            <AppenderRef ref="input_errors" level="info"/>
            <AppenderRef ref="exceptions" level="error"/>
        </Root>
    </Loggers>
</Configuration>




